<mat-card fxLayout="column" class="container" fxLayoutAlign="space-evenly start">
  <mat-card-title>Angular & Firebase chat tool</mat-card-title>
  <span>
    <img mat-card-sm-image src="../../assets/angular.png" style="height:100px;width:100px">
    <img mat-card-sm-image src="../../assets/firebase.svg" style="height:90px;width:90px;padding:10px;">
  </span>
  <table>
    <thead>
      <tr>
        <th>library</th>
        <th>version</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Angular</td>
        <td>13.0.0</td>
      </tr>
      <tr>
        <td>Firebase</td>
        <td>v9</td>
      </tr>
      <tr>
        <td>@angular/fire</td>
        <td>7.2.0</td>
      </tr>
      <tr>
        <td>@angular/material</td>
        <td>13.0.2</td>
      </tr>
      <tr>
        <td>@angular/flex-layout</td>
        <td>12.0.0</td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button color="primary">
    npm
  </button>
  <button mat-raised-button color="primary">
    Github
  </button>
  <mat-card>
    <mat-card-title>Thank you for your visiting</mat-card-title>
    <a href="https://www.buymeacoffee.com/redpeaks" target="_blank">
      <img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: 41px !important;width: 174px !important;">
    </a>
  </mat-card>
</mat-card>
